/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font-family-regular: 'Inter-Variable', sans-serif;
    --font-family-accent: 'PressStart2P', Arial, Helvetica, sans-serif;
    --font-weight-regular: 400;
    --font-weight-accent: 700;
    --page-background-image: 
        repeating-linear-gradient(to left, #d3d3d3 0 2px, #d3d3d300 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --page-background-color: #fff;
    --page-text-color: #000;
    --header-background-color: #fff;
    --header-text-color: #000;
    --header-border: #000;
    --article-background-color: #fff;
    --article-text-color: #000;
    --article-border: #000;
    --shadow-color: #fff;
    --card-button-bg-color: #fff;
    --card-button-after-bg-color: #000;
    --card-button-after-text-color: #fff;
    --card-button-border: #000;
    --card-button-text-color: #000;
    --card-button-shadow: #000;
    --heart-hover: #000;
    --heart-fill: #ff0000;
    --modal-background-color: #fff;
    --modal-text-color: #000;
    --card-inline-size: clamp(min(100%, 375px), 50vw, 700px);
    
}